.ingredientImage {
    position: relative;
    padding: 10px;
    width: 50%;
    height: 50%;
}

 .selectFile {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: transparent;
    padding-left: 290px;
    padding-top: 10px;
 }

 .recipeLink {
     display: block;
     padding-top: 10px;
 }
