.ingredientImage {
    position: relative;
    padding: 10px;
    width: 50%;
}

.selectFile {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 10px;
}

.recipeLink {
    display: block;
    padding-top: 10px;
}

 .recipeLink {
     display: block;
     padding-top: 10px;
     border: #ffffff 4px solid;
     padding: 8px 10px;
     border-radius: 5px;
     color: #ffffff;
 }

.selected-ingredient {
    text-align: center;
    width: 100%;
}
